<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Java POI 技术</title>
<style type="text/css">
body {
	margin: 0px;
	padding: 0px;
}

.container {
	margin: 20px auto;
	width: 80%;
	align-items: center;
	background-color: #FAFAFA;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
}

.content {
	margin: 40px;
	width: 100%;
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: #e21918;
}
</style>
</head>
<body>
	<div class="container">
		<div class="content">
			<h1>Java 使用 POI 操作 Excel</h1>
			<h2>Demo1</h2>
			<ol>
				<li><a href="/demo1/newBook">创建新工作簿</a></li>
				<li><a href="/demo1/newSheet">创建新Sheet页 (sheet)</a></li>
				<li><a href="/demo1/newCell">创建单元格 (Cell)</a></li>
			</ol>

			<h2>Demo2</h2>
			<ol>
				<li><a href="/demo2/newDateCell">创建一个时间格式的单元格</a></li>
				<li><a href="/demo2/newStylesCell">处理不同内容格式的单元格</a></li>
				<li><a href="/demo2/getBook">获取某个工作薄</a></li>
				<li><a href="/demo2/getBookContents">获取某个工作薄中的数据</a></li>
				<li><a href="/demo2/getBookContentsByText">获取某个工作薄中的数据以文本格式提取</a></li>
			</ol>

			<h2>Demo3</h2>
			<ol>
				<li><a href="/demo3/cellAlgin">单元格对齐方式</a></li>
				<li><a href="/demo3/cellBorder">单元格边框样式</a></li>
				<li><a href="/demo3/setAutoColumn">根据单元格自动调整列宽</a></li>
				<li><a href="/demo3/setCellColorAndContent">单元格填充色和颜色操作</a></li>
				<li><a href="/demo3/mergrCell">单元格合并</a></li>
			</ol>

			<h2>Demo4</h2>
			<ol>
				<li><a href="/demo4/setFont">字体处理</a></li>
				<li><a href="/demo4/readAndWriteBook">读取并重写工作薄</a></li>
				<li><a href="/demo4/createFormatData">创建用户自定义数据格式</a></li>
				<li><a href="/demo4/drawPicture1">将图片导入工作薄1(图片原始比例显示，水平扩展)</a></li>
				<li><a href="/demo4/drawPicture2">将图片导入工作薄2(图片可能会变形，需要精心处理)及冻结行列</a></li>
			</ol>

			<h2>Demo5</h2>
			<ol>
				<li><a href="/demo5/createHeaderAndFooter">创建页眉和页脚</a></li>
				<li><a href="/demo5/useFormula">使用Excel公式</a></li>
				<li><a href="/demo5/createDocument">文档信息</a></li>
				<li><a href="/demo5/setLock">设置密码</a></li>
				<li><a href="/demo5/setPrintLandscape">横向打印及每页打印指定行数并打印时携带固定标题头</a></li>
			</ol>

			<h2>Demo6</h2>
			<ol>
				<li><a href="/demo6">注解开发</a></li>
				<li><a href="/demo7">EasyPoi 快速开发</a></li>
				<li><a href="/demo7/one2One">EasyPoi 快速开发（一对一）</a></li>
				<li><a href="/demo7/one2N">EasyPoi 快速开发（一对多）</a></li>
			</ol>
		</div>
	</div>
</body>
</html>